# Virtual Environment
.venv/
# Python cache
__pycache__/
*.pyc
# Jupyter
.ipynb_checkpoints/
# OS files
.DS_Store
Thumbs.db
# FastF1 cache
.fastf1_cache/
# Data files
data/raw/*
data/processed/*
# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep
# Model files
models/*
!models/.gitkeep
# Figures
reports/figures/*
!reports/figures/.gitkeep