# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# FastF1 cache
cache/

# VS Code
.vscode/

# Large datasets (optional)
# data/raw/
# data/processed/

# OS files
.DS_Store
Thumbs.db

.fastf1_cache/
data/
.venv/
__pycache__/
.ipynb_checkpoints/